{% extends "donate/base.html"%}
{% block content %}
    <div class="raise-section bot-margin">
        <h1>Contact Us</h1>
        <p class="sub2">Do you have any questions? Please do not hesitate to contact us directly.</p>
        <p class="sub2"> Our team will come back to you within
            a matter of hours to help you.</p>
    </div>

    <div class="row">
        <div class="col-md-9 bot-margin">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="md-form mb-0">
                            <label for="name" class="form-label-wt">Your name</label>
                            <input type="text" id="name" name="name" class="form-input-style-2">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="md-form mb-0">
                            <label for="email" class="form-label-wt">Your email</label>
                            <input type="text" id="email" name="email" class="form-input-style-2">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="form-label-wt">Subject</label>
                            <input type="text" id="subject" name="subject" class="form-input-style-2">
                        </div>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-lg-12">
                        <div class="md-form">
                            <label for="message" class="form-label-wt">Your message</label>
                            <textarea type="text" id="message" name="message" rows="4" class="form-input-style-3 md-textarea"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center text-md-left"><br/>
                            <center>
                            <button type="submit" class=" button-raise">Send Message</button>                
                            </center>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Care Club, Coimbatore, Tamil Nadu, India</p>
                </li>
                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 01 234 567 89</p>
                </li>
                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>careclub@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}