{% extends "donate/base.html"%}
{% load static %}
{% block content %}
		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center bgimg-wt" data-stellar-background-ratio="0.5">
				<div class="desc">
					<h2><strong>Donate</strong> for a <strong>Noble Cause</strong></h2>
					<span>HandCrafted by <a href="{% url 'app-about'%}" class="fh5co-site-name">Batch 11</a></span>
					<span>Let's Make this world a better place</span>
					<span><a class="btn btn-primary btn-lg" href="{% url 'app-donate'%}">Donate Now</a></span>
				</div>
			</div>
		</div>
		
		<div id="fh5co-features">
			<div class="container">
				<div class="row">
					<div class="col-md-4">

						<div class="feature-left">
							<span class="icon">
								<i class="icon-profile-male"></i>
							</span>
							<div class="feature-copy">
								<h3>Become a volunteer</h3>
								<p>Thousands of candles can be lighted from a single candle, and the life of the candle will not be shortened.</p>
								<!--<p><a href="#">Learn More</a></p>-->
							</div>
						</div>

					</div>

					<div class="col-md-4">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-happy"></i>
							</span>
							<div class="feature-copy">
								<h3>Happy Giving</h3>
								<p>At the end of the day it’s not about what you have or even what you’ve accomplished… it’s about who you’ve lifted up, who you’ve made better. It’s about what you’ve given back.</p>
								<!--<p><a href="#">Learn More</a></p>-->
							</div>
						</div>

					</div>
					<div class="col-md-4">
						<div class="feature-left">
							<span class="icon">
								<i class="icon-wallet"></i>
							</span>
							<div class="feature-copy">
								<h3>Donation</h3>
								<p>What counts in life is not the mere fact that we have lived. It is what difference we have made to the lives of others that will determine the significance of the life we lead.</p>
								<!--<p><a href="#">Learn More</a></p>-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-feature-product" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center heading-section">
						<h3>Giving is Virtue.</h3>
						<p>Go into the world and do well. But more importantly, go into the world and do good.</p>
					</div>
				</div>

				<div class="row row-bottom-padded-md">
					<div class="col-md-12 text-center animate-box">
						<p><img src="{% static 'donate/images/image7.jpg' %}" alt="image1" class="img-responsive home-img"></p>
					</div>
					<div class="col-md-6 text-center animate-box">
						<p><img src="{% static 'donate/images/image2.jpg' %}" alt="image2" class="img-responsive home-img"></p>
					</div>
					<div class="col-md-6 text-center animate-box">
						<p><img src="{% static 'donate/images/image9.jpg' %}" alt="image3" class="img-responsive home-img"></p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="feature-text">
							<h3>Love</h3>
							<p>Love has nothing to do with what you are expecting to get–only with what you are expecting to give–which is everything.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-text">
							<h3>Compassion</h3>
							<p>Be kind, for everyone you meet is fighting a harder battle.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="feature-text">
							<h3>Charity</h3>
							<p>In necessary things, unity; in doubtful things, liberty; in all things, charity.</p>
						</div>
					</div>
				</div>

				
			</div>
		</div>
		
		<div id="fh5co-content-section" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Our Philantrophist</h3>
						<p>If you’re in the luckiest 1% of humanity, you owe it to the rest of humanity to think about the other 99%.</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="fh5co-testimonial text-center animate-box">
							<figure>
								<img src="{% static 'donate/images/image3.jpg' %}" alt="user">
							</figure>
							<blockquote>
								<p>&ldquo;We should try to respect and understand each other. We need to be considerate of others. Only then we can understand each other and get close to each other and become one.&rdquo;</p>
							</blockquote>
							<span>Jeon Jung-kook, Maknae Co.</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-testimonial text-center animate-box">
							<figure>
								<img src="{% static 'donate/images/image4.jpg' %}" alt="user">
							</figure>
							<blockquote>
								<p>&ldquo;Let your smile change the world, don't let the world change your smile.&rdquo;</p>
							</blockquote>
							<span>Kim Taehyung, Big Hit Co.</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-testimonial text-center animate-box">
							<figure>
								<img src="{% static 'donate/images/image8.jpg' %}" alt="user">
							</figure>
							<blockquote>
								<p>&ldquo;I am the most thankful that we are able to be in this journey together. I believe that I would not be where I am today if we weren’t able to do this together.&rdquo;</p>
							</blockquote>
							<span>Park Jimin, Bangtan Co.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- fh5co-content-section -->

		<div id="fh5co-services-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Our successful projects!</h3>
						<p>How wonderful it is that nobody need wait a single moment before starting to improve the world.</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row text-center">
					{% for project in projects %}
					<div class="col-md-4 col-sm-4">
						<div class="services animate-box success-project">
							<span><i class="icon-heart"></i></span>
							<h3>{{project.title}}</h3>
							<p>{{project.description}}</p>
							<h4>Fund collected : {{project.target}}</h4>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	
	</div>
	</div>
{% endblock %}

