{% extends "donate/base.html"%}
{% load static %}
{% block content %}

{% if redirect %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="raise-section bot-margin">
    <h1>Raise Fund</h1>
    <p class="sub2">A little contribution can't change the world but it can change someone's world.</p>
    <p class="sub2"> Donate for a balanced society. Make it happen with your donation.</p>
</div>
<div class="row" style="min-height: 106px;">
    <div class="col-lg-6 offset-lg-3">
    </div>
</div>
<div class="row" style="min-height: 148px;">
    <div class="col-lg-6 offset-lg-3 gray-card">
        <h3 style="text-align: center;">
            Please <a class="w3-button w3-orange" href="{% url 'login' %}">Login</a> to raise fund
        </h3>
    </div>
</div>
<div class="row" style="min-height: 106px;">
    <div class="col-lg-6 offset-lg-3">
    </div>
</div>
{% else %}
<div class="raise-section bot-margin">
    <h1>Raise Fund</h1>
    <p class="sub2">A little contribution can't change the world but it can change someone's world.</p>
    <p class="sub2"> Donate for a balanced society. Make it happen with your donation.</p>
</div>
<div class="row" style="min-height: 348px;">
    <div class="col-lg-6 offset-lg-3">
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label for="causeip" class="form-label-wt">Cause</label>
                <input type="text" class="form-input-style-2" id="causeip" name="title" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="descip" class="form-label-wt">Description</label>
                <textarea type="text" id="descip" name="description" rows="4" class="form-input-style-3 md-textarea" required></textarea>      
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="datenip" class="form-label-wt">Date Needed</label>
                <input type="date" class="form-input-style-2" name="dateneeded" id="datenip" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="targetip" class="form-label-wt">Target amount</label>
                <input type="number" min="1000" step="0.01" class="form-input-style-2" name="target" id="targetip" required>
            </div>
        </div>
        <div class="row bot-margin">
            <div class="col">
                <br/>
                <center>
                <button type="submit" class="button-raise">Submit</button>
                </center>
            </div>
        </div>
    </form>
</div>
</div>
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1;
    var yyyy = today.getFullYear();
    if(dd<10){
            dd='0'+dd
        } 
        if(mm<10){
            mm='0'+mm
        } 

    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("datenip").setAttribute("min", today);
</script>
{% endif %}
{% endblock %}